@model SGV.Models.RecursosHumanos.AlteracaoFuncional
@using System.Globalization
@{
    ViewData["Title"] = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/AlreacaoFuncional.css" rel="stylesheet" />
<!--Início do cadastro de solicitação de acesso-->
<form method="post" action="/Alteracaofuncional/Salvar">
    <div class="box-conteudo">
        <div class="primeiro-box-cadastrar">
            <div class="divisoria">
                <div class="card-body">
                    <h5 class="card-title">Solicitação de Alteração Funcional</h5>
                    <div class="form-group row">
                        <label for="fname"
                               class="col-sm-3 text-end control-label col-form-label">Nome Completo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Nome" placeholder="Digite o nome do funcionário" name="nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-end control-label col-form-label">Setor de Origem</label>
                        <div class="col-md-9">
                            <select class="select2 form-select shadow-none" id="setor" name="setor" style="width: 100%; height:1.5em;">
                                <option>Selecione</option>
                                <optgroup label="Comercial">
                                    <option value="VEN" id="setor">Vendas</option>
                                    <option value="PE">Pedidos</option>
                                    <option value="PEC">Peças</option>
                                    <option value="MP">Marketplace</option>
                                </optgroup>
                                <optgroup label="Compras">
                                    <option value="COM">Compras</option>
                                </optgroup>
                                <optgroup label="Contabilidade">
                                    <option value="CTB">Contabilidade</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="local" class="col-sm-3 text-end control-label col-form-label">
                            Função de origem
                        </label>
                        <div class="col-md-9">
                            <select class="select2 form-select shadow-none" id="setor" name="setor" style="width: 100%; height:1.5em;">
                                <option>Selecione</option>
                                <optgroup label="Comercial">
                                    <option value="VEN" id="setor">Vendas</option>
                                    <option value="PE">Pedidos</option>
                                    <option value="PEC">Peças</option>
                                    <option value="MP">Marketplace</option>
                                </optgroup>
                                <optgroup label="Compras">
                                    <option value="COM">Compras</option>
                                </optgroup>
                                <optgroup label="Contabilidade">
                                    <option value="CTB">Contabilidade</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="local" class="col-sm-3 text-end control-label col-form-label">
                            Cargo de origem
                        </label>
                        <div class="col-md-9">
                            <select class="select2 form-select shadow-none" id="setor" name="setor" style="width: 100%; height:1.5em;">
                                <option>Selecione</option>
                                <optgroup label="Comercial">
                                    <option value="VEN" id="setor">Vendas</option>
                                    <option value="PE">Pedidos</option>
                                    <option value="PEC">Peças</option>
                                    <option value="MP">Marketplace</option>
                                </optgroup>
                                <optgroup label="Compras">
                                    <option value="COM">Compras</option>
                                </optgroup>
                                <optgroup label="Contabilidade">
                                    <option value="CTB">Contabilidade</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data_Comeco"
                               class="col-sm-3 text-end control-label col-form-label">Início das atividades</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="Data_Comeco" placeholder="digite a data do começo das atividades" name="Data_Comeco">
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-success text-white" value="gravar" name="submitButton">Gravar</button>
                        <a href="/alteracaofuncional/novo" class="btn btn-primary">Limpar</a>
                        <a href="/alteracaofuncional/" class="btn btn-danger text-white">Cancelar</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="segundo-box-solicitar">
            <div class="divisoria">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="form-group row">
                        <label for="local" class="col-sm-3 text-end control-label col-form-label">
                            Setor de destino
                        </label>
                        <div class="col-md-9">
                            <select class="select2 form-select shadow-none" id="setor" name="setor" style="width: 100%; height:1.5em;">
                                <option>Selecione</option>
                                <optgroup label="Comercial">
                                    <option value="VEN" id="setor">Vendas</option>
                                    <option value="PE">Pedidos</option>
                                    <option value="PEC">Peças</option>
                                    <option value="MP">Marketplace</option>
                                </optgroup>
                                <optgroup label="Compras">
                                    <option value="COM">Compras</option>
                                </optgroup>
                                <optgroup label="Contabilidade">
                                    <option value="CTB">Contabilidade</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="local" class="col-sm-3 text-end control-label col-form-label">
                            Função de destino
                        </label>
                        <div class="col-md-9">
                            <select class="select2 form-select shadow-none" id="setor" name="setor" style="width: 100%; height:1.5em;">
                                <option>Selecione</option>
                                <optgroup label="Comercial">
                                    <option value="VEN" id="setor">Vendas</option>
                                    <option value="PE">Pedidos</option>
                                    <option value="PEC">Peças</option>
                                    <option value="MP">Marketplace</option>
                                </optgroup>
                                <optgroup label="Compras">
                                    <option value="COM">Compras</option>
                                </optgroup>
                                <optgroup label="Contabilidade">
                                    <option value="CTB">Contabilidade</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="local" class="col-sm-3 text-end control-label col-form-label">
                            Cargo de destino
                        </label>
                        <div class="col-md-9">
                            <select class="select2 form-select shadow-none" id="setor" name="setor" style="width: 100%; height:1.5em;">
                                <option>Selecione</option>
                                <optgroup label="Comercial">
                                    <option value="VEN" id="setor">Vendas</option>
                                    <option value="PE">Pedidos</option>
                                    <option value="PEC">Peças</option>
                                    <option value="MP">Marketplace</option>
                                </optgroup>
                                <optgroup label="Compras">
                                    <option value="COM">Compras</option>
                                </optgroup>
                                <optgroup label="Contabilidade">
                                    <option value="CTB">Contabilidade</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="check-box">
                        <input class="form-check-input" type="checkbox" value="true" id="AcessoInternet" name="AcessoInternet">
                        <label class="col-form-label" for="flexCheckChecked">
                            Alterações efetivadas
                        </label>
                    </div>
                    <div class="form-group row" style="margin-left:1.8%">
                        <h6>Observações</h6>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <textarea class="box-obs" placeholder="digite aqui qualquer informação adicional" id="observacoes" name="observacoes"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

