@{
    ViewData["Title"] = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Qualidade/TesteEletrico/principal.css" rel="stylesheet" />
<div class="box-container">
    <div class="box-titulo">
        <!--Box com o título-->
        <h5 class="card-title">Instrumentos de Medição</h5>
    </div>
    <div class="box-conteudo">
        <!--começo do box com conteúdo-->
        <div class="box">
            <!--Começo do primeiro Box-->
            <div class="conteudos-linha">
                <label for="Data_Comeco" class="coluna-label">Data:</label>
                <div class="coluna-input">
                    <input type="date" class="input-dados" id="Data_Comeco" name="Data_Comeco">
                </div>
            </div>
            <div class="conteudos-linha">
                <label for="Data_Comeco" class="coluna-label">Hora:</label>
                <div class="coluna-input">
                    <input type="text" class="input-dados" id="Data_Comeco" name="Data_Comeco">
                </div>
            </div>
            <div class="conteudos-linha">
                <label for="Data_Comeco" class="coluna-label">Hipot:</label>
                <div class="coluna-input">
                    <select class="select-dados" id="setor" name="setor">
                        <option>Selecione</option>
                        <option value="VEN" id="setor">Aprovado</option>
                        <option value="PE">Reprovado</option>
                    </select>
                </div>
            </div>
            <div class="conteudos-linha">
                <label for="Data_Comeco" class="coluna-label">Earth Test:</label>
                <div class="coluna-input">
                    <select class="select-dados" id="setor" name="setor">
                        <option>Selecione</option>
                        <option value="VEN" id="setor">Aprovado</option>
                        <option value="PE">Reprovado</option>
                    </select>
                </div>
            </div>
            <div class="conteudos-linha">
                <label for="Data_Comeco" class="coluna-label">Responsável:</label>
                <div class="coluna-input">
                    <select class="select-dados" id="setor" name="setor">
                        <option>Selecione</option>
                        <option value="VEN" id="setor">Interno</option>
                        <option value="PE">Fornecedor</option>
                        <option value="PEC">Cliente</option>
                    </select>
                </div>
            </div>
            
        </div><!--Final do primeiro box-->
    </div><!--Final do box com o conteúdo-->
    <div class="box-botoes">
        <!--Começo do Box com os botões-->
        <button type="submit" class="btn btn-success text-white" value="gravar" name="submitButton">Gravar</button>
        <a href="/Instrumentos/novo" class="btn btn-primary">Limpar</a>
        <a href="/Instrumentos/" class="btn btn-danger text-white">Cancelar</a>
    </div><!--Final do Box dos Botões-->
</div>