@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<tr vertical-align: middle>
    <td>
        <div class="form-floating">
            <label for="floatingPassword">Senha</label>
            <input type="password" class="form-control" id="floatingPassword" placeholder="Digite sua senha">
        </div>
    </td>
</tr>
