.fonte {
    font-weight: bold;
    font-family: Cambria, sans-serif;
    font-size: 14px;
}

.button {
    background-color: #193459;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.textbox {
    height: 20px;
    padding: 0 10px;
    background: #f1f0f0;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}

.textbox-login {
    height: 20px;
    padding: 0 10px;
    /*background: #f1f0f0;*/
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}

.textbox-frete {
    height: 20px;
    padding: 0 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    width: 100px;
    border-width:1px;
}


.textbox-obs {
    padding: 0 10px;
    background: #f1f0f0;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}

.textbox:focus {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15);
    outline: none;
    background: #f1f0f0;
    outline: solid 1px;
    border-radius: 5px;
    border: none;
}

.textbox-obs:focus {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15);
    outline: none;
    background: #f1f0f0;
    outline: solid 1px;
    border-radius: 5px;
    border: none;
}

.listbox {
    padding: 0 10px;
    background: #f1f0f0;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}

.checkboxlist {
    padding: 0 10px;
    background: #f1f0f0;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}
