.box-container {
    display: inline-block;
    width: 98%;
    height: 82%;
    position: absolute;
    margin-left: 1%;
    overflow: hidden;
    margin-top: -25px;
}

.box-titulo {
    margin-top: 0%;
    font-size: 0.8rem;
    line-height: 0.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    height: 8%;
    border: 1px #e9e7e7 solid;
    display: block;
    padding-left: 40%;
    padding-top: 0.8%;
}

.box-conteudo {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    height: 75%;
}

.box {
    width: 30%;
    padding-top: 35px;
    font-size: 0.8rem;
    line-height: 0.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.primeiro-box {
    width: 49.5%;
    padding-top: 35px;
    font-size: 0.8rem;
    line-height: 0.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 100%;
    float: left;
    position: relative;
}

.segundo-box {
    width: 49.5%;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 0.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 100%;
    float: right;
    position: relative;
}

.box-terceiro {
    width: 30%;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 0.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 100%;
}

.box-botoes {
    margin-top: 15px;
    font-size: 0.8rem;
    line-height: 0.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    height: 12%;
    border: 1px #e9e7e7 solid;
    display: block;
    padding-left: 40%;
    padding-top: 1%;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}


button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    text-transform: none;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;


}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
}

.select2-container .select2-search--inline {
    float: left;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px; 
    outline: 0; 
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}

.select2-results {
    display: block;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}

.select2-results__option[aria-selected] {
    cursor: pointer;
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
     border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield; 
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none; 
    font-size: 100%; 
    margin-top: 5px; 
    padding: 0; 
}